{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post" role="article">
  {% include recipe_metadata.html %}

  <hr/>
    {% if post.dropcaps %}
        {% capture articleclass %}entry-content {% endcapture %}
    {% else %}
        {% capture articleclass %} {% endcapture %}
    {% endif %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="{{ articleclass }} post-content" itemprop="articleBody">
            <script>
              function resizeIframe(obj) {
                obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
              }
            </script>
            <iframe style="width: 100%;" src="recipe.html" frameborder="0" scrolling="no" onload="resizeIframe(this)" /></iframe>

        </div>
    </article>

</article>

{% include previous_next.html %}
